.chat {
  display: flex;
  flex-direction: column;
  flex:1;
  height: 100vh;
  background-color: #36393f;
}

.chat_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  padding-left: 20px;
  background-color: #36393f;
  border-bottom: 2px solid #26282c;
  color: white;
}

.chat_header_icons>.MuiSvgIcon-root {
  color: gray;
  margin: 10px;
}

.chat_header_icons>.MuiSvgIcon-root:hover {
  color: white;
  cursor: pointer
}

.chat_messages {
  flex: 1;
  overflow-x: hidden;
  overflow-y:scroll;
}
.chat_messages::-webkit-scrollbar{
  background-color:#2f3136;
  width: 8px;
  border-radius: 10px;
}
.chat_messages::-webkit-scrollbar-thumb{
  background-color:#202225 ;
  border-radius: 10px;
}
.chat_input {
  display: flex;
  align-items: center;
  color: white;
  padding: 10px;
}

.chat_input>.MuiSvgIcon-root {
  color: grey;
  font-size: 30px;
  margin: 10px;
}

.chat_input>.MuiSvgIcon-root:hover {
  color: white;
  cursor: pointer;
}

.chat_message {
  display: flex;
  align-items: center;
  color: white;
  padding: 20px;
}
.chat_message_highlighted {
  display: flex;
  align-items: center;
  color: white;
  background-color: rgba(245, 171, 53, .1);
  padding: 20px;
  border-left: 2px solid rgba(245, 171, 53, 1);
}
.chat_message_highlighted >.message_info>p>span{
background-color:rgba(25, 181, 254, .2);
color:rgba(25, 181, 254, 1);
}

.message_info {
  padding-left: 20px;
  word-wrap: break-word;
  max-width: 700px;
}

.chat_timestamp {
  color: grey;
  font-size: smaller;
  padding-left: 10px;
}
