.memberList {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 0.15;
  min-width: 220px;
  max-width: 220px;
  background-color: #2f3136;
  overflow-x: hidden;
  overflow-y: scroll;
}

.memberList::-webkit-scrollbar {
  background-color: #2f3136;
  width: 5px;
}

.memberList::-webkit-scrollbar-thumb {
  background-color: #202225;
  border-radius: 15px;
}

.memberAvatar {
  display: flex;
  padding: 5px
}

.memberInfo {
  padding-left: 10px;
}

.memberInfo>p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 130px;
  max-width: 130px;
}

.memberCategory {
  padding-left: 15px;
}

.memberCount {
  padding-left: 10px;
}

.membersSortedByCategory {
  padding: 5px;
  display: flex;
  flex-direction: column;

}
